<div class="wrapper" id="menu-bar">
    <h1>Phone Book Directory</h1>
    <nav>
        <ul>
            <li><a href="#!/home">Home</a></li>
            <li><a href="#!/directory">Contact List</a></li>
        </ul>
    </nav>
</div>