<div class="content">
    <div class="btn-holder">
        <button ng-click="order = 'firstName'">Sort By Asscending</button>
        <input class="search" placeholder="Search . . ." type="search" name="search" id="search" ng-model="search">
        <button ng-click="order = '-firstName'">Sort By Descending</button>
    </div>
    <ul class="contact-list">
        <li ng-repeat="person in persons | orderBy: order | filter: search">
            <figure>
                <img ng-src="{{person.thumb}}" alt="Thumbnail" ng-show="person.thumb">
            </figure>
            <div class="details">
                <span>Name:</span>
                <h4>{{person.firstName}}</h4>
                <span>Email:</span>
                <h4> {{person.email}}</h4>
                <span>Phone Number:</span>
                <p>{{person.number}}</p>
                <div class="remove" ng-click="removePerson(person)" title="Delete Record">X</div>
                <div class="update" ng-model="forms" value="Update" ng-click="toggle(person)">+</div>
            </div>
            <form name="updateForm" ng-show="person.profile" ng-submit="updatePerson(person)" novalidate>
                <input type="text" name="fname" id="fname" placeholder="Enter the Name" ng-model="updPerson.firstName" ng-required="true" ng-pattern="/^[a-zA-Z][a-zA-Z\-' ]*[a-zA-Z ]$/">
                <div ng-show="updateForm.fname.$touched && updateForm.fname.$invalid">
                    <small style="color: red; display: block; text-align: center">Enter a Valid Name</small>
                </div>
                <input type="email" name="email" id="email" placeholder="Enter the Email" ng-model="updPerson.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                <div ng-show="updateForm.email.$touched && updateForm.email.$invalid">
                    <small style="color: red; display: block; text-align: center">Enter a Valid Email</small>
                </div>
                <input type="text" name="numb" id="numb" placeholder="Enter the 10 Digit Phone Number with Country Code (+91123456789)" ng-model="updPerson.number" ng-required="true" ng-pattern="/^((\+)?(\d{2}))?(\d{10}){1}?$/">
                <div ng-show="updateForm.numb.$touched && updateForm.numb.$invalid">
                    <small style="color: red; display: block; text-align: center">Enter a Valid Number</small>
                </div>
                <input type="submit" value="Update Contact" ng-disabled="updateForm.$invalid" ng-click="toggle(person)">
            </form>
        </li>
    </ul>
    <h2>Add Contact to Phone Book</h2>
    <form name="addForm" ng-submit="addPerson()" novalidate>
        <input type="text" name="name" id="name" placeholder="Enter the Name" ng-model="newPerson.firstName" ng-required="true" ng-pattern="/^[a-zA-Z][a-zA-Z\-' ]*[a-zA-Z ]$/">
        <div ng-show="addForm.name.$touched && addForm.name.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a Valid Name</small>
        </div>
        <input type="email" name="addEmail" id="addEmail" placeholder="Enter the Email" ng-model="newPerson.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
        <div ng-show="addForm.addEmail.$touched && addForm.addEmail.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a Valid Email</small>
        </div>
        <input type="text" name="number" id="number" placeholder="Enter the 10 Digit Phone Number with Country Code (+91123456789)" ng-model="newPerson.number" ng-required="true" ng-pattern="/^((\+)?(\d{2}))?(\d{10}){1}?$/">
        <div ng-show="addForm.number.$touched && addForm.number.$invalid">
            <small style="color: red; display: block; text-align: center">Enter a Valid Number</small>
        </div>
        <input type="submit" value="Add New Contact" ng-disabled="addForm.$invalid" ng-click="addForm.$valid">
    </form>
</div>
