@charset "utf-8";

/* ==========================================================================
  CSS Reset Code
  ========================================================================== */

/* Eric Meyers Reset
  http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
  ========================================================================== */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
  ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
  tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
  figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
  	margin: 0;
  	padding: 0;
  	border: 0;
  	font-size: 100%;
  	font: inherit;
  	vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section {
  	display: block;
  }

  /* Force scrollbar */
  html { 
  	overflow-y: scroll; 
  	scroll-behavior: smooth;
  }

  /* Align radios and text inputs with their label */

  input[type='radio'] { vertical-align: text-bottom; }

  /* Hand cursor on clickable input elements */
  label,
  input[type='button'],
  input[type='submit'],
  button {
  	cursor: pointer;
  }

  strong {
  	font-weight: bold;
  	font-family: inherit;
  	font-size: inherit;
  }

  em { font-style: italic; }

  img {
  	border: 0;
  	vertical-align: middle;
  }

  sub,
  sup {
  	vertical-align: baseline;
  	position: relative;
  	font-size: 55%;
  	line-height: 0;
  }

  sup { top: -.7em; }

  sub { bottom: -.25em; }

/* Clear Fix
========================================================================== */

.cf:before,
.cf:after {
	display: table;
	content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* Common Styling 
========================================================================== */

* { transition: .5s ease-in-out; }

h2,
h3 { text-transform: uppercase; }

h2,
h3,
h4 { font-family: "montserrat-bold"; }

a,
button,
input,
select,
textarea { outline: none; }


img { width: 100%; }
ul { list-style: none; }
select { border: none; }

body { 
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

.view { 
  background: rgba(0, 0, 0, 0.8);
  min-height: 100vh;
}

main { 
  background: url('https://previews.123rf.com/images/brat82/brat821301/brat82130100049/17627836-old-vintage-phone-book-on-wooden-table-grunge-background.jpg') no-repeat center/cover; 
}


a { 
  display: inline-block;
  text-decoration: none; 
  transition: .5s ease-in-out;
}

a,
p,
h1,
h2,
h4,
span {
  background: -webkit-linear-gradient(#ffc857, #3e2f5b);
  background: -o-linear-gradient(#ffc857, #3e2f5b);
  background: linear-gradient(#ffc857, #3e2f5b );
  background-clip: text;
  -webkit-background-clip: text;	
  -webkit-text-fill-color: transparent; 
}

button,
.search,
input {
  font-size: 18px;
  padding: 10px 15px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 15px;
  color: #fff;
}

/* Header Styling 
========================================================================== */

header {
  background: #000;
  color: #fff;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.wrapper, nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  flex: 0 1 200px;
}

button:hover,
a:hover {
  text-shadow: 0 0 4px #fff;
}

h1,
h2 {
  text-transform: uppercase;
  font-size: 30px;
}

/* Home Styling 
========================================================================== */

.home-content {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
}

.home-content h1 { font-size: 50px; }

.nav-link {
  margin-top: 50px;
  font-size: 26px;
}

/* Directory Styling 
========================================================================== */

.content {
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  padding: 50px 0;
}

.btn-holder {
  width: 100%;;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-list {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-wrap: wrap;
}
.contact-list li {
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 10px;
  margin-top: 5%;
  flex: 0 1 30%;
  background: linear-gradient(to top, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, .5));
  /* display: flex;
  justify-content: space-around; */
}

.contact-list figure { 
  width: 50%; 
  min-width: 150px;
  margin: 0 auto;
}

.contact-list figure img {
  min-height: 150px;
  min-width: 150px;
  margin: 0 auto;
 }

.details { 
  box-sizing: border-box;
  text-align: center; 
  padding: 10px 5px;
}

.details h4,
.details p,
.details span {
  font-size: 20px;
}

.details p { margin-bottom: 20px; }

.details span { 
  display: block; 
  margin: 10px 0;
}

form {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

form input {
  width: 95%;
  margin: 20px auto 0;
  display: block;
}

small {
  margin-top: 10px;
}

.remove, .update {
  display: inline-block;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}

.update {
  color: green;
}

.red { color: red; }

.update:hover {
  background: green;
  color: #fff;
}

.remove:hover {
  background: red;
  color: #fff;
}

input.ng-invalid.ng-touched {
  border: 2px solid #f00;
}

input[disabled="disabled"] {
  opacity: .4;
  cursor: not-allowed !important;
}

h2 {
  margin: 50px 0;
  font-size: 35px;
  text-align: center;
  font-variant: small-caps;
}